.error {
  display: none;
}

.error--visible {
  display: inline-block;
}

.error__img {
  position: absolute;
  display: block;
  top: 110px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  height: 90px;
}

@media (max-width: 1300px) {
  .error__img-wrapper {
    margin-bottom: 2.54vw;
    padding-top: 8.38vw;
  }
  
  .error__img {
    width: 6.92vw;
    height: 6.92vw;
  } 
}