.message-modal__container {
  position: absolute;
  top: 132px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  background-color: #f4f2ff;
  box-shadow: 0px 0px 6px 0px #00000040;
  border-radius: 6px;
}

.message-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.message-modal__close-button {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  top: 26px;
  right: 29px;
  background: url(../img/cross.svg) no-repeat;
  background-size: contain;
  border: 1px solid transparent;
}

.message-modal__close-button::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6d5bd0;
  opacity: 0;
}

.message-modal__close-button:hover::after {
  opacity: 0.4;
}

.message-modal__close-button:focus,
.message-modal__close-button:active {
  outline: 1px solid #6d5bd0;
} 

.message-modal__title {
  position: absolute;
  top: 236px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  color: #6e6893;
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1300px) {
  .message-modal {
    top: 10.15vw;
    left: 17vw;
    width: 26.92vw;
    height: 26.92vw;
  }
  
  .message-modal__close-button {
    width: 1.54vw;
    height: 1.54vw;
    top: 2vw;
    right: 2.23vw;
  }

  .message-modal__title {
    font-size: 1.38vw;
  }  
}
